.layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

mat-card.profile {
    overflow: hidden;

    p {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        mat-icon {
            font-size: 20px;
            width: 20px;
            height: 20px;
        }
    }
}

.profile-image {
    object-fit: cover; 
    padding: 8px;
    border-radius: 16px;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
