<mat-card>
    <mat-card-header>
        <h2>Notes</h2>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Add Note</mat-label>
            <textarea matInput [formControl]="noteControl" class="full-width" placeholder=""></textarea>
            @if (noteControl.invalid && noteControl.touched) {
                <mat-error>Note is required</mat-error>
            }
        </mat-form-field>
        <div class="button-container">
            <button matButton="filled" (click)="addNote()" [disabled]="addingNote()">
                @if (addingNote()) {
                    <mat-progress-spinner mode="indeterminate" diameter="20"></mat-progress-spinner>
                } @else {
                    Add Note
                }
            </button>
        </div>
        @if ( loading() ) {
        <app-loading-spinner></app-loading-spinner>
        } @else if ( error() ) {
        <app-icon-message [iconMessageDetails]="{
                title: 'Error loading notes',
                message: 'There was an error loading the notes for this user. Please try again later.',
                icon: 'error',
                iconClass: 'error'
            }"></app-icon-message>
        } @else if ( notes().length > 0 ) {
            @for (note of notes(); track $index) {
                <div class="note">
                    <p>{{ note.content }}</p>
                    <small>Added on: {{ note.createdAt | date:'short':'':'en-GB' }}</small>
                </div>
            }
        } @else {
            <app-icon-message [iconMessageDetails]="{
                title: 'No notes available',
                message: 'There are currently no notes for this user.',
                icon: 'note_alt'}">
            </app-icon-message>
        }
    </mat-card-content>
</mat-card>