.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;

    mat-progress-spinner {
        width: 48px !important;
        height: 48px !important;
    }
}