.example-spacer {
    flex: 1 1 auto;
}

.header-toolbar {
    display: flex;
    justify-content: space-between;

    .brand {
        display: flex;
        align-items: center;

        .brand-icon {
            transform: scale(2);
        }

        .brand-text {
            margin-left: 12px;

            h1 {
                font-family: "Sansation", sans-serif;
                font-size: 30px;
                margin: 0;
                font-weight: 700;
            }

            h5 {
                font-size: 12px;
                margin: 0;
                line-height: 12px;
            }
        }
    }
}