.example-spacer {
    flex: 1 1 auto;
}

.header-toolbar {
    display: flex;
    justify-content: space-between;

    .brand {
        display: flex;
        align-items: center;

        .brand-icon {
            transform: scale(2);
        }

        .brand-text {
            margin-left: 12px;

            h1 {
                font-family: "Sansation", sans-serif;
                font-size: 30px;
                margin: 0;
                font-weight: 700;
            }

            h5 {
                font-size: 12px;
                margin: 0;
                line-height: 12px;
            }
        }
    }

    .navigation-bar {
        height: 100%;

        button {
            height: 100%;
            font-weight: 600;
            border-radius: 0;
            border-bottom: 3px solid transparent;
            transition: border-bottom-color 0.3s ease, background-color 0.3s ease;

            mat-icon {
                color: var(--icon-grey);
            }

            &.active {
                border-bottom: 3px solid var(--mat-sys-primary);
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
}