<mat-toolbar class="header-toolbar">
    <div class="brand">
        <mat-icon class="brand-icon">supervised_user_circle</mat-icon>
        <div class="brand-text">
            <h1>S4Labour</h1>
            <h5>Tech Test - Tom Pedley</h5>
        </div>
    </div>
    <div class="navigation-bar">
        <button matButton aria-label="Home" routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon>face</mat-icon>
            Users
        </button>
        <button matButton aria-label="Contracts" routerLink="/users/favourites" routerLinkActive="active">
            <mat-icon>favorite</mat-icon>
            Favourites
        </button>
    </div>
</mat-toolbar>