.no-data {
    text-align: center;
    margin-top: 2rem;

    mat-icon {
        font-size: 96px;
        width: 96px;
        height: 96px;
        color: var(--favorite-color-active);
    }

    a {
        cursor: pointer;
        text-decoration: none;
        color: var(--mat-sys-primary);
        &:hover {
            text-decoration: underline;
        }
        
    }
}