<mat-card>
    <mat-card-header>
        <h1>Favourite Users</h1>
    </mat-card-header>
    @if( favouriteUsers().length > 0 ) {
    <app-users-list [users]="favouriteUsers"></app-users-list>
    }
    <mat-card-content>
        @if( favouriteUsers().length === 0 && !usersService.loading() ) {
            <app-icon-message [iconMessageDetails]="{
                title: 'You have no favourite users',
                message: 'Add some in the ',
                icon: 'heart_broken',
                iconClass: 'favourite',
                linkRoute: '/users',
                linkText: 'Users page'
            }"></app-icon-message>
        }
    </mat-card-content>
</mat-card>