<mat-card> 
    <mat-card-header>
        <h1>Users</h1>
    </mat-card-header>
    @if ( usersStore.users().length > 0 ) {
        <app-users-list [users]="usersStore.users"></app-users-list>
    }
    <mat-card-content>
        @if( usersStore.users().length === 0 && !usersStore.loading() ) {
            <app-icon-message [iconMessageDetails]="{
                title: 'No users available',
                message: 'There are currently no users to display.',
                icon: 'people_outline'
            }"></app-icon-message>
        }
    </mat-card-content>
</mat-card>